@page
@model Admin.IndexModel
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Admin")]

<h2>Admin Panel</h2>

<div style="display:flex; flex-direction:column; gap:10px; max-width:300px;">
    <a asp-page="/Admin/Cars">Автомобілі</a>
    <a asp-page="/Admin/Bookings">Бронювання</a>
    <a asp-page="/Admin/Users">Клієнти</a>
</div>
